:root {
  --scale: 0;
  --arrow-size: 10px;
  --tooltip-color: #000000;
}
*, *::before, *::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
}
.tooltip-example-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 60px 30px;
  margin: 30px 15px;
  border: 1px solid #05a62d;
  border-radius: 1rem;
  background-color: #ebfff0;
}

#custooltip {
  font-size: 1.7rem;
  position: relative;
  // only for production
  margin: 0;
  font-weight: 700;
  cursor: pointer;

  &::before,
  &::after {
    
    position: absolute;
    top: -.25rem;
    left: 50%;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transform-origin: bottom center;
    transition: 100ms transform ease-in-out;
  }
  &::before {
    --translate-y: calc(-100% - var(--arrow-size));
    content: attr(data-tooltip);
    color: white;
    padding: .5rem;
    border-radius: .3rem;
    text-align: center;
    font-size: .90rem;
    width: max-content;
    max-width: 100%;
    background: var(--tooltip-color);
    line-height: 1.2;
  }
  &:hover::before,
  &:hover::after {
    --scale: 1;
  }
  &::after {
    --translate-y: calc(-1 * var(--arrow-size));
    content: '';
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--tooltip-color);
    transform-origin: top center;
  }
}